.subtotal-container {
  width: 100%;
}

.cart-product-image-container {
  width: 40%;
  height: 12rem;
  flex: 0 0 auto;
}

@media (min-width: 576px) {
  .subtotal-container,
  .cart-items-container {
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1);
  }

  .cart-product-image-container {
    width: 22%;
  }
}

@media (min-width: 992px) {
  .subtotal-container {
    width: 300px;
    flex-shrink: 0;
  }
}

.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background: white;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
