.btn-container {
  margin: 0 0.625rem 0.5rem 0;
  padding: 0.5rem 0.75rem 0.4375rem 0.8125rem;
  background: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
}

.btn-separator {
  width: 0.0625rem;
  height: 0.75rem;
  margin: 0 0.75rem;
}

.btn-link {
  font-size: inherit !important;
  line-height: 1;
}

.subtotal-container {
  width: 100%;
}

#cart-product-info-container {
  font-size: 0.8125rem;
}

.cart-product-title {
  font-size: 0.9375rem;
}

.cart-product-image-container {
  width: 9.063rem;
  flex: 0 0 auto;
}

.cart-product-image-container > img {
  vertical-align: top;
  object-fit: contain;
  width: 8.4375rem;
  height: 8.4375rem;
}

.cart-product-quantity-menu {
  overflow-y: auto;
  max-height: 65vh;
  font-size: 0.875rem !important;
  min-width: 6.5rem !important;
  transform: translate(0px) !important;
}

.cart-product-quantity-menu .dropdown-item {
  padding: 0.125rem 0.75rem 0.0625rem 0.8125rem;
}

.cart-product-quantity-menu .dropdown-item.active {
  color: inherit;
  background-color: #edfdff;
  border: 1px solid #d5d9d9;
  border-left-color: #007185;
}

.cart-quantity-controller {
  flex-shrink: 0;
  margin-right: 0.625rem;
  width: 8.4375rem !important;
  height: 2.1875rem !important;
}

.cart-quantity-controller button {
  border-color: #d5d9d9;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
}

.cart-quantity-controller button:first-child,
.cart-quantity-controller button:last-child {
  flex: 0 0 auto;
  width: 30%;
  padding: 0rem;
  line-height: 1;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.cart-quantity-controller button:nth-child(2) {
  font-size: 1.125rem;
  background: #fff;
  color: #007185;
}

#cart-control-sm-container .dropdown-toggle {
  font-size: 0.8125rem;
  background-color: #f0f2f2;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

#cart-control-container form input,
#cart-control-sm-container form input {
  width: 5rem;
  font-size: 0.8125rem;
  border-color: #888c8c;
}

#cart-control-container form input:focus,
#cart-control-sm-container form input:focus {
  border-color: #007185;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 / 15%) inset;
}

#cart-control-sm-container form button {
  font-size: 0.6875rem;
  height: 1.4rem;
  padding: 0 0.4rem;
}

#cart-control-container .btn-link {
  white-space: nowrap;
  color: #0f1111;
  font-size: 0.8125rem;
  line-height: 1.35;
}

#cart-control-container form {
  float: left;
  margin: 0 3.625rem 0.5rem 0;
}

#cart-control-container form input {
  font-size: 0.9375rem;
}

#cart-control-container form button {
  height: 2.2rem;
  font-size: 0.8125rem;
}

#orders-navigation-section .nav {
  border: none !important;
}

#orders-navigation-section .nav-item * {
  font-size: 0.875rem;
}

#orders-navigation-section .nav-item h3 {
  margin-bottom: 1px !important;
  line-height: inherit;
}

#orders-search-section form input {
  border: 1px solid #ced4da;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

#orders-search-section form input:focus {
  box-shadow: 0 0.1rem 0 0 rgb(13 110 253 / 25%),
    0 -0.1rem 0 0 rgb(13 110 253 / 25%);
}

#orders-search-section form input + svg {
  color: var(--bs-primary);
}

#orders-section .order-container {
  border: none !important;
  border-radius: 0 !important;
}

#orders-section .order-container {
  --bs-border-opacity: 0.25;
  --bs-border-width: 1px;
  border-bottom: var(--bs-border-width) var(--bs-border-style) !important;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}

.order-container .card-header .btn-link,
.order-container .card-footer .btn-link {
  font-size: 0.875rem !important;
}

.order-container .card-header .btn-container,
.order-container .card-body .btn-container {
  line-height: 1;
}

.order-container .card-body {
  padding: 0.875rem 1.125rem;
  padding-right: 0;
}

.order-container .card-body .btn-link {
  font-size: 0.8125rem !important;
}

.order-product-container .order-product {
  height: 4rem;
}

.order-product-container .order-product:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  #shopping-cart > .container-fluid {
    padding: 1.125rem !important;
    padding-top: 0.875rem !important;
  }

  .subtotal-container,
  .cart-items-container {
    padding: 1.25rem;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1);
  }

  .cart-product-container {
    padding: 0.75rem 0 !important;
  }

  #cart-product-info-container {
    font-size: 0.75rem;
  }

  .cart-product-title {
    font-size: 1.125rem;
  }

  .cart-product-image-container {
    width: 22%;
    height: 11rem;
  }

  .cart-product-image-container > img {
    width: 100%;
    height: 100%;
  }

  #orders header {
    --bs-breadcrumb-divider: '>';
    font-size: 0.875rem;
  }

  #orders-navigation-section .nav {
    --bs-border-opacity: 0.25;
    border-bottom: var(--bs-border-width) var(--bs-border-style) !important;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
  }

  #orders-navigation-section .nav-item h3 {
    margin-bottom: -1px !important;
  }

  #orders-search-section form input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  #orders-search-section form input:focus {
    box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
  }

  #orders-search-section form input + svg {
    color: var(--bs-dark);
  }

  #orders-section {
    border-top: none !important;
  }

  #orders-section .order-container {
    border: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
    border-radius: var(--bs-border-radius-lg) !important;
  }

  .order-container .card-body {
    padding: 0.875rem 1.125rem;
  }

  .order-product-container .order-product {
    height: 8rem;
    margin-bottom: 0.5rem;
  }

  .order-product-container .order-product:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .cart-product-container {
    padding-left: 0.75rem !important;
  }

  .subtotal-container {
    width: 300px;
    flex-shrink: 0;
  }
}
