@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
}

body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  font-family: 'Open Sans', 'Roboto', 'Ubuntu', 'Oxygen', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outline:hover {
  outline: 1px solid;
}

.quantity-modal {
  max-height: 80vh;
}

.quantity-modal .modal-header {
  background: #f0f2f2;
}

.quantity-modal .modal-header .btn-close {
  box-sizing: border-box;
  font-size: 0.6875rem;
  margin-right: 0;
}

.quantity-modal .modal-body .list-group-item {
  padding: 0.875rem;
  padding-left: 0.8125rem;
  border-left: 0.25rem solid transparent;
}

.quantity-modal .modal-body .list-group-item.active {
  background: #f0f2f2;
  color: inherit;
  border-color: var(--bs-list-group-border-color) transparent
    var(--bs-list-group-border-color) #e77600;
}

.quantity-modal .modal-body .list-group-item:not(:last-child) {
  padding-bottom: 0.8125rem;
}

.truncate-lines {
  --max-lines: 2;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
}

.lines-1 {
  --max-lines: 1;
}

.lines-2 {
  --max-lines: 2;
}

.lines-3 {
  --max-lines: 3;
}

.btn-container {
  margin: 0 0.625rem 0.5rem 0;
  padding: 0.5rem 0.75rem 0.4375rem 0.8125rem;
  background: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
}

.btn-separator {
  width: 0.0625rem;
  height: 0.75rem;
  margin: 0 0.75rem;
}

.btn-link {
  font-size: inherit !important;
  line-height: 1;
}
